<form class="form">
  
  <label for="subject">Date</label>
  <input nbInput id="subject" type="date">
 
  <label for="subject">Start At</label>
  <input nbInput id="subject" type="time">

  <label for="subject">End At</label>
  <input nbInput id="subject" type="time">

  <label for="subject">Vehicle Number</label>
  <input nbInput id="subject" type="text">

  <label for="subject">Root Name</label>
  <input nbInput id="subject" type="text">

  <label for="subject">Driver Name</label>
  <input nbInput id="subject" type="text">

  <br><input nbInput id="submit" type="submit">

</form>