<form class="form">
  
  <label for="subject">Id</label>
  <input nbInput id="date" type="number">
 
  <label for="subject">Vehicle Number</label>
  <input nbInput id="startTime" type="text">

  <label for="subject">Model</label>
  <input nbInput id="endTime" type="text">

  <label for="subject">Registration Date</label>
  <input nbInput id="rootName" type="date">

  <label for="subject">Type</label>
  <input nbInput id="driverName" type="text">

  <br><input nbInput id="submit" type="submit">

</form>