<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
              <div class="row">
                   
                <div class="col-md-12">
                   <h1 class="center">LOGIN</h1><p class="center"> Hello! Log in with your email</p> 
                </div>
                
              </div>
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
    </div>
  </div>
  


   