<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-4"></div>
                <div class="col-md-4">
                   <h1> LOGIN</h1>Hello! Log in with your email
                </div>
                <div class="col-md-4"></div>
              </div>
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
    </div>
  </div>
  


   