@import '~bootstrap/scss/mixins/breakpoints';               //import 
@import '~@nebular/theme/styles/global/breakpoints';        //import 


@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  button + button {
    margin-left: 2rem;                                //import
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
        //imported
  @include media-breakpoint-down(xxl) {
    nb-card-body {
      display: flex;
    }

    button {
      flex: 1;
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card-body {
      display: block;
    }

    button {
      + button {
        margin-left: 0;
      }

      width: 100%;
      display: block;
      margin-bottom: 2rem;
      padding: 0.75rem;
    }
  }

}